@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:wght@700&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet');
$playfair: 'Playfair Display', serif;
$opensans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;

//fonts
$light: 300;
$regular: 400;
$bold: 700;

$italic: italic;
$upper: uppercase;


//colors
$white: #fff;
$black: #000;
$cream: #F1EAE0;
$red: #E05127;
$blue: #477D96;
$yellow: #F4BB49;
$orange: #ED7B30;