.card{
    margin-top: 1em;
    background-color: $cream;
}

.card-container{
    display: flex;
    flex-flow: column;
    padding: 1.5rem;
}

.but-container{
    width: 1em;
    margin-top: 0.83em;
}

.txt{
    padding: .5rem;
}
.bubble{

    &--yellow{
        border: none;
        border-radius: 0.5rem;
        background-color: $yellow;
    }

    &--blue{
        border: none;
        border-radius: 0.5rem;
        background-color: $blue;
    }
}

